<form class="search" method="POST" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Type your keyword</label>
    <input name="q" type="text" class="form-control" id="search" placeholder="" class="mt-4">
  </div>
  <button type="submit" class="btn btn-primary">Search with the best AI</button>
</form>